<section class="hero">
    <div class="container"> 
        <h1 class="visually-hidden">hero</h1>
        <div class="slider">
            <div class="slider__menu">
                <span class="slide__num">01</span>
                <ul class="slide__list">
                    <li class="list__item">
                        <button type="button" class="slider__control active" aria-label="first slide"></button>
                    </li>
                    <li  class="list__item">
                        <button type="button" class="slider__control" aria-label="second slide"></button>
                    </li>
                    <li  class="list__item">
                        <button type="button" class="slider__control" aria-label="third slide"></button>
                    </li>
                    <li  class="list__item">
                        <button type="button" class="slider__control" aria-label="last slide"></button>
                    </li>
                </ul>
            </div>
            <div class="slide__text">
                <h2 class="slide__title">THE OOH NOO COLLECTION</h2>
                <p class="slide__desc">Designed in Slovenia</p>
                <div class="hero-btn-wrapper">
                    <a href="#" class="btn">explore now</a>
                </div>
            </div>
            <img src="/static/images/hero.png" height="460" width="630" alt="slide image" class="slide__img">
        </div>
        <p class="hero__subtext">Free (continental) USA shipping on all orders of $100 USD or more!</p>
    </div>
</section>