<form class="popup" action="https://echo.htmlacademy.ru" method="post">
    <div class="popup__field">
        <label for="input__name" class="label__popup">Name</label>
        <input type="text" id="input__name" class="input__popup" placeholder="Rustam Abbyazov">
    </div>
    <div class="popup__field_wrapper">
        <div class="popup__field">
            <label for="input__phone" class="label__popup">Phone</label>
            <input type="text" id="input__phone" class="input__popup" placeholder="">
        </div>
        <div class="popup__field">
            <label for="input__email" class="label__popup">Email</label>
            <input type="email" id="input__email" class="input__popup" placeholder="">
        </div>
    </div>
    <div class="popup__field">
        <label for="input__text" class="label__popup">Message</label>
        <textarea class="input__popup" id="input__text" cols="30" rows="10"></textarea>
    </div>
    <div class="popup__checkbox">
        <input id="check-receipt" type="checkbox" class="checkbox__input visually-hidden" value="Receipt">
        <label for="check-receipt" class="checkbox__label">By clicking on the button, you consent to the processing of your personal data</label>
    </div>
    <button class="btn disabled__btn" type="submit" disabled>submit</button>
    <button class="popup__close__btn" type="button" aria-label="Close button"></button>
</form>
<div class="popup__overlay"></div>