.raiting {
    display: flex;
    width: 255px;
    @media (max-width:375px) {
      margin-bottom: 15px;
    }
    &__text {
      font-family: 'Open Sans', 'Arial', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF; 
    }
    &:hover .raiting__text{
      color: #C29974;
    }
    &__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      width: 105px;
      margin-left: 25px;
      &:focus-within {
        outline: 1px solid #D5D4E1;
      }
    }
    &__label {
      width: 14px; 
      height: 13px;
      margin: 4px 0 4px 0;
      position: relative;
      cursor: pointer;
      padding-right: 7px;
      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 13px;
        width: 14px;
        background-image: url(../../static/images/icon/star.svg);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      &::after{
        content: "";
        display: block;
        position: absolute;
        height: 13px;
        width: 14px;
        background-image: url(../../static/images/icon/starChecked.svg);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        opacity: 0;
      }
    }
  }
  .raiting__list > input:checked ~ .raiting__label::after {
    opacity: 1;
  }
  .raiting__list > input:hover,
  .raiting__list > input:hover ~ .raiting__label::after {
    opacity: 1;
    background-image: url(../../static/images/icon/starHover.svg);
  }
