<div class="raiting footer__section">
    <p class="raiting__text">Company Rating</p>
    <div class="raiting__list" aria-label="raiting">
        <input class="raiting__input visually-hidden" type="radio" id="star-5" name="rating" value="5">
        <label class="raiting__label" for="star-5" title="Оценка «5»"></label>
        <input class="raiting__input visually-hidden" type="radio" id="star-4" name="rating" value="4">
        <label class="raiting__label" for="star-4" title="Оценка «4»"></label>
        <input class="raiting__input visually-hidden" type="radio" id="star-3" name="rating" value="3">
        <label class="raiting__label" for="star-3" title="Оценка «3»"></label>
        <input class="raiting__input visually-hidden" type="radio" id="star-2" name="rating" value="2">
        <label class="raiting__label" for="star-2" title="Оценка «2»"></label>
        <input class="raiting__input visually-hidden" type="radio" id="star-1" name="rating" value="1">
        <label class="raiting__label" for="star-1" title="Оценка «1»"></label>
    </div>
</div>