.category {
    margin-bottom: 90px;
    &__title{
        padding-bottom: 30px;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
    }
    &__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -10px -20px -10px;
        @media (max-width:768px){
            max-width: 1500px;
            flex-wrap: inherit;
            overflow: auto;
        }
        
    }
    &__item{
        height: 270px;
        width: 280px;
        margin: 0 10px 20px 10px;
        position: relative;
        background-color: #DBE4DB;
        &:focus-within{
            outline: 2px solid #000;
        }
        &:nth-child(2){
            background-color: #EADDD3;
        }
        &:nth-child(3){
            background-color: #F8F2DA;
        }
        &:nth-child(4){
            background-color: #D5D4E1;
        }
        .item{
            &__link{
                display: flex;
                height: 100%;
                width: 100%;
                &:hover .item__text{
                    text-decoration: underline;
                }
            }
            &__img{
                overflow: auto;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
            }
            &__text{
                max-width: 192px;
                margin: auto;
                position: absolute;
                top: 40%; left: 0; bottom: 40%; right: 0;
                font-family: 'Montserrat', 'Arial', sans-serif;
                font-weight: 700;
                font-size: 26px;
                line-height: 32px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
    &__slider{
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 30px;
        &_text{
            max-width: 580px;
            margin-left: 14px;
            font-family: 'Open sans', 'Arial', sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: #1E0606;
        }
        .slider__control {
            display: flex;
            .control__item{
                display: flex;
                align-items: center;
                height: 37px;
                width: 37px;
                background-color: #E2F1F8;
                border: 0;
                margin-right: 6px;
                cursor: pointer;
                opacity: 1;
                transition: .2s opacity ease;
                &:hover button{
                    opacity: .67;
                }
                .left__side {
                    width: 21px;
                    height: 21px;
                    margin-left: 12px;
                    border: none;
                    border-top: 4px solid #1E0606;
                    border-right: 4px solid #1E0606;
                    transform: rotate(-135deg);
                    background-color: transparent;
                    cursor: pointer;
                }
                .right__side {
                    width: 21px;
                    height: 21px;
                    margin: 0 4px;
                    border: none;
                    border-top: 4px solid #1E0606;
                    border-right: 4px solid #1E0606;
                    transform: rotate(45deg);
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}