<section class="third">
    <div class="container">
        <div class="third__inner">
            <div class="img__wrapper">
            </div>
            <div class="third__content">
                <h2 class="third__title">Delivery</h2>
                <ul class="links__list">
                    <li class="links__item active">
                        <a href="#" class="third__link">Delivery</a>
                    </li>
                    <li  class="links__item">
                        <a href="#" class="third__link">Guarantee</a>
                    </li>
                    <li  class="links__item">
                        <a href="#" class="third__link">Credit</a>
                    </li>
                </ul>
                <div class="text-styles">
                    <p>
                        Some days i feel like i've been working on dlk my entire life and
                        there are other days that i am completely shocked that four
                        years have flown by. It's simply magical.
                    </p>  
                    <p>
                        What started as an outlet to deal with
                        the traumatic loss of my husband, dlk
                        has now become a truly happy place for
                        me and i have you and all of the beautiful
                        designers that we work with to thank!
                    </p>
                </div>
                <div class="third-btn-wrapper">
                    <a href="#" class="btn">learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>