.header{
  padding-top: 50px;
  margin-bottom: 60px;
}
.header a {
  -webkit-transition: .3s opacity ease;
  -o-transition: .3s opacity ease;
  transition: .3s opacity ease;
}
.header a[href]:hover{
  opacity: 0.5;
}
.header a[href]:focus{
  opacity: 0.3;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 60px;
}
.nav__item{
  margin-right: 20px;
}
.nav__link{
  font-family: 'Open sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.search__btn {
  background-color: #fff;
  border: 0;

  margin-right: 24px;
  margin-left: auto;
}
.nav__contact {
  margin-right: 3px;
  font-family: 'Open sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000;
  text-decoration: none;
}