<section class="sponsors">
    <div class="container">
        <h2 class="visually-hidden">Sponsors</h2>
        <ul class="sponsors__wrapper">
            <li class="sponsors__item">
                <a class="sponsor__link" href="#" aria-label="Mail">
                    <img src="/static/images/mailru.jpg" width="193" height="60" alt="sponsor image">
                </a>
            </li>
            <li class="sponsors__item">
                <a class="sponsor__link" href="#" aria-label="apple">
                    <img src="/static/images/apple.jpg" width="179" height="61" alt="sponsor image">
                </a>
            </li>
            <li class="sponsors__item">
                <a class="sponsor__link" href="#" aria-label="eltex">
                    <img src="/static/images/eltex.jpg" width="216" height="46" alt="sponsor image">
                </a>
            </li>
            <li class="sponsors__item">
                <a class="sponsor__link" href="#" aria-label="owox">
                    <img src="/static/images/owox.jpg" width="211" height="40" alt="sponsor image">
                </a>
            </li>

        </ul>
    </div>
</section>