<div class="shop__slider">
    <div class="control left">
        <button type="button" class="shop__control"  aria-label="left control"></button>
    </div>
    <div class="nums">
        <button type="button" class="num active">1</button>
        <button type="button" class="num">2</button>
        <button type="button" class="num">3</button>
        <button type="button" class="num">4</button>
    </div>
    <div class="control right">
        <button type="button" class="shop__control" aria-label="right control"></button>
    </div>
</div>